@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: #333;
    background-position: center ; 

}

header.logo-header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Styles for the logo header */
.logo-container img {
    max-height: 50px;
}
.logo-container img[src="sangamam_logo.png"] {
    max-width: 200px;
    max-height: 70px;
}


nav.nav-header {
    background-color:rgb(223, 172, 106);
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 80px; 
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
}
nav.nav-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.nav-header ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}
nav.nav-header ul li a:hover {
    color: #007bff;
}
.nav-header {
    background-color: #333; 
    padding: 10px 20px; 
}

.nav-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-header ul li {
    display: inline;
    margin-right: 20px;
}

.nav-header ul li a {
    text-decoration: none;
    color: #fff; 
    font-size: 18px; 
    transition: color 0.3s ease;
}

.nav-header ul li a:hover {
    color: #007bff;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1, h2 {
    margin-bottom: 20px;
}

#home {
    background-color: #a2d2ff;
    color: #fff;
}
#about {
    background-color: #bde0fe;
    color: #fff;
    min-height: 100vh; 
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box; 
    position: relative;
}




.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-container h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.about-container h3 {
    font-size: 24px;
    color: #007bff;
    margin-top: 30px;
}

.about-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.about-container p:first-child {
    font-weight: bold;
    color: #007bff;
}

#schedule {
    background-color: #a9d6e5;
    color: #fff;
}





footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 18px; 
}


footer .useful-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .useful-links li {
    margin-right: 20px;
    margin-bottom: 10px;

}


footer .useful-links li a:hover {
    color: #FFD700
    ;
}
.useful-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.useful-links li {
    flex: 0 0 25%; 
}

.useful-links ul {
    padding-left: 20px;
    list-style-type: none;
}
footer .useful-links li ul {
    margin-top: 5px; 
}

footer .useful-links li ul li {
    margin-bottom: 5px; 
}

footer .useful-links li ul li a {
    padding: 3px 0; 
}

footer .useful-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

footer .useful-links li {
    flex: 1; 
    margin-right: 20px;
    margin-bottom: 10px; 
    white-space: nowrap; 
}

footer .useful-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    padding: 5px 0; 
    display: block; 
    overflow: hidden;
    text-overflow: ellipsis; 
}


@media only screen and (max-width: 768px) {
  footer {
      font-size: 5px; 
  }

  .useful-links {
      flex-direction: row;
  }

  .useful-links li {
      flex: 1 0 auto;
      margin-right: 0;
      margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1080px) {
    footer {
        font-size: 14px; 
    }

    .useful-links {
        flex-direction: row;
    }

    .useful-links li {
        flex: 1 0 auto;
        margin-right: 0;
        margin-bottom: 10px;
    }
}



#home::before,
#about::before,
#schedule::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Sangamam_Logo_White.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.08; 
}
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}

#home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('Sangamam_Logo_White.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: fadeIn 2s ease-in-out forwards;
  opacity: 0; 
}


#about,
#events,
#schedule {
    position: relative;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#events {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 230vh;
  font-family: "Roboto", sans-serif;
  background: #c8e6c9;
  scrollbar-color: #000 #ffe;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
  color: #fff;
  flex-direction: column;
}
#events ul::-webkit-scrollbar {
  width: 30rem;
}

#events ul {
  list-style: none;
  width: min(100vw, 90rem);
  max-width: 90rem;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 2rem;
}

 li {
  
  top: 0;
  left: 0;  
  
}
#events li {
  height: 25rem; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 45vw;
  max-width: 14rem;
  position: -webkit-sticky;
  position: sticky;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #48d1cc 2%, transparent 60%);
    z-index: -1;
  }
  img {
    display: block;
    height: 95%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    z-index: -2;
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 0.75em;
    height: 100%;
    writing-mode: vertical-lr;
    text-align: center;
    transform: rotate(180deg);
  }
}

@media (min-width: 53rem) {
    @media (min-width: 53rem) {
        li:nth-child(1) {
          left: calc((1 * 2.2rem) - 2.2rem);
        }
        li:nth-child(2) {
          left: calc((2 * 2.2rem) - 2.2rem);
        }
        li:nth-child(3) {
          left: calc((3 * 2.2rem) - 2.2rem);
        }
        li:nth-child(4) {
          left: calc((4 * 2.2rem) - 2.2rem);
        }
        li:nth-child(5) {
          left: calc((5 * 2.2rem) - 2.2rem);
        }
        li:nth-child(6) {
          left: calc((6 * 2.2rem) - 2.2rem);
        }
        li:nth-child(7) {
          left: calc((7 * 2.2rem) - 2.2rem);
        }
        li:nth-child(8) {
          left: calc((8 * 2.2rem) - 2.2rem);
        }
        li:nth-child(9) {
          left: calc((9 * 2.2rem) - 2.2rem);
        }
        li:nth-child(10) {
          left: calc((10 * 2.2rem) - 2.2rem);
        }
        li:nth-child(11) {
          left: calc((11 * 2.2rem) - 2.2rem);
        }
        li:nth-child(12) {
          left: calc((12 * 2.2rem) - 2.2rem);
        }
        li:nth-child(13) {
          left: calc((13 * 2.2rem) - 2.2rem);
        }
        li:nth-child(14) {
          left: calc((14 * 2.2rem) - 2.2rem);
        }
        li:nth-child(15) {
          left: calc((15 * 2.2rem) - 2.2rem);
        }
        li:nth-child(16) {
          left: calc((16 * 2.2rem) - 2.2rem);
        }
      }
      
}








.fa-clock:before ,.fa-calendar:before{
    content: "\f017";
}
.fa-calendar,  .fa-clock {
    color: #ffcf00;
} .far, .fas {
font-family: "Font Awesome 5 Free";
}
.fab, .far {
font-weight: 400;
}
.fa, .fab, .fad, .fal, .far, .fas {
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
display: inline-block;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1;
}
*, ::after, ::before {
box-sizing: border-box;
}
#events .card-body h3
{
font-size: 15pt;
font-weight: 800;
margin-bottom: 0.4em;
} 
#events .card-body h4
{
font-size: 12pt;
font-weight: 800;
margin-bottom: 0.4em;
}
#events .card {
margin-left: 30px;
margin-right: 30px;
text-align: left;
border: 0;
}
#events .card-body{
margin-left: 16px;
color: #000;
}

#events .btn{
padding: 15px 10px;
background-color: #050801;
color: #03e9f4;
font-weight: bold;
border: none;
border-radius: 5px;
letter-spacing: 4px;
overflow: hidden;
transition: 0.5s;
cursor: pointer;


}
#events  .card-subtitle, #events .card-text {
margin-top: 20px; 
margin-bottom: 20px;
}
.card-title{
  margin-top: 16px;
}

#events .btn:hover{
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}



#events ul {
 margin-top: 5%;
  margin-bottom: 5%;
}



/* Footer background transition */
footer {
  position: relative;
  background: #333;
  transition: background-color 0.3s ease;
}

footer:hover {
  background: #1f1f24; /* Change this color to whatever you like */
}

/* Footer anchor tag animation */
footer .useful-links a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: bold; /* Make the text bold */
  padding-bottom: 3px; /* Add some space below the text */
  transition: color 0.3s ease-in-out, font-size 0.3s ease; /* Smooth transition for color and font size change */
}

footer .useful-links a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#events h2 {
  color: black;
  margin-right: auto;
  padding-left: 40px;
  padding-top: 20px;
}

#events ul {
  
  margin-bottom: 20px; /* Add right padding to create space between the container and the scrollbar */
}
marquee {
  padding-top: 150px;
  background-color: #000;
  color: white;
  padding-bottom: 10px;
  margin-bottom: -10px;
}
